@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.color {
  color: #8C8B8B;
   /* color: red; */
}

@media screen and (min-width:200px ) and (max-width:767px) {
  .headerdata{
     display:  none;
  }

  .footercontent{
     /* font-size: 20px; */
     width: 100%;
  }

  .cardItem{
    display: flex;
    flex-direction: column;
  }

  .cardvideo{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 100%;
    padding-left:10px;
  }
  .cardVideo{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    width: 100%;
    padding-left:10px;
  }
}

@media screen and (max-width:1068px) {
  .headercontent{
     display:  none;
  }
}